flows.json
[{"id":"10f9de34.94b352","type":"tab","label":"IOT project ","disabled":false,"info":""},{"id":"51e5a7a1.283608","type":"ibmiot in","z":"10f9de34.94b352","authentication":"apiKey","apiKey":"752fd167.948ec","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SPS_PRO_101","applicationId":"","deviceType":"IOT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":240,"y":220,"wires":[["dcbca3df.b298b","ed021a3e.95bb48","c4ca5441.2f6a38"]]},{"id":"67ccb398.0bb5fc","type":"debug","z":"10f9de34.94b352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":220,"wires":[]},{"id":"dcbca3df.b298b","type":"function","z":"10f9de34.94b352","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":320,"wires":[["67ccb398.0bb5fc","536a4482.dc542c"]]},{"id":"ed021a3e.95bb48","type":"function","z":"10f9de34.94b352","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":160,"wires":[["67ccb398.0bb5fc","64b612a.5e4f7ec"]]},{"id":"c4ca5441.2f6a38","type":"function","z":"10f9de34.94b352","name":"Soil Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":400,"wires":[["67ccb398.0bb5fc","1436f3ab.5cebfc"]]},{"id":"1436f3ab.5cebfc","type":"ui_gauge","z":"10f9de34.94b352","name":"Soil Moisture","group":"44d260d5.cd124","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":400,"wires":[]},{"id":"64b612a.5e4f7ec","type":"ui_gauge","z":"10f9de34.94b352","name":"Humidity","group":"45618976.b8da88","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":100,"wires":[]},{"id":"536a4482.dc542c","type":"ui_gauge","z":"10f9de34.94b352","name":"Temperature","group":"fae7c918.ffd738","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":320,"wires":[]},{"id":"df3b6856.6cea48","type":"ibmiot out","z":"10f9de34.94b352","authentication":"apiKey","apiKey":"752fd167.948ec","outputType":"cmd","deviceId":"12345","deviceType":"IOT","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":560,"wires":[]},{"id":"c7ba5979.a8ced8","type":"ui_button","z":"10f9de34.94b352","name":"","group":"7ac53f35.210f7","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":250,"y":560,"wires":[["df3b6856.6cea48","1d5e4fcf.83902"]]},{"id":"748b2e7e.ab33f","type":"ui_button","z":"10f9de34.94b352","name":"","group":"7ac53f35.210f7","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":230,"y":460,"wires":[["df3b6856.6cea48","1d5e4fcf.83902"]]},{"id":"1d5e4fcf.83902","type":"debug","z":"10f9de34.94b352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":480,"wires":[]},{"id":"25ec52a3.6fdb3e","type":"debug","z":"10f9de34.94b352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":160,"wires":[]},{"id":"d2cf40a2.85558","type":"inject","z":"10f9de34.94b352","name":"Input","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":750,"y":60,"wires":[["78743eb3.785de"]]},{"id":"78743eb3.785de","type":"http request","z":"10f9de34.94b352","name":"Weather Data Request","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Hyderabad,%20IN&appid=df90a433ec85cc39efc09150353e6929","tls":"","persist":true,"proxy":"","authType":"","x":740,"y":160,"wires":[["281e6a34.60d346","25ec52a3.6fdb3e","a01b9f2b.7a637","6d2e1bfa.437c64","13ae65cd.d85a4a","49e9ebf7.4773e4","97cb4eba.37fa1","8876694a.3d8ba8","8e5f0ac0.e107e8","2439e0e8.ba57c"]]},{"id":"281e6a34.60d346","type":"function","z":"10f9de34.94b352","name":"Wind Speed","func":"msg.payload=msg.payload.wind.speed\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":200,"wires":[["25ec52a3.6fdb3e","e7586e34.03fac"]]},{"id":"e7586e34.03fac","type":"ui_gauge","z":"10f9de34.94b352","name":"Wind Speed","group":"33ffdf4.8972c2","order":0,"width":0,"height":0,"gtype":"compass","title":"Wind speed","label":"km/hr","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":200,"wires":[]},{"id":"6d2e1bfa.437c64","type":"function","z":"10f9de34.94b352","name":"Temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":60,"wires":[["d96963b8.bb28c","25ec52a3.6fdb3e"]]},{"id":"a01b9f2b.7a637","type":"function","z":"10f9de34.94b352","name":"Cloudy","func":"msg.payload=msg.payload.clouds.all\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":120,"wires":[["25ec52a3.6fdb3e","d000d8b5.c73458"]]},{"id":"d000d8b5.c73458","type":"ui_gauge","z":"10f9de34.94b352","name":"","group":"f102e023.2af99","order":0,"width":0,"height":0,"gtype":"donut","title":"Cloudy","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":120,"wires":[]},{"id":"13ae65cd.d85a4a","type":"function","z":"10f9de34.94b352","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":260,"wires":[["7287cadb.117114","25ec52a3.6fdb3e"]]},{"id":"49e9ebf7.4773e4","type":"function","z":"10f9de34.94b352","name":"Pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":320,"wires":[["25ec52a3.6fdb3e","c86652c7.48f64"]]},{"id":"d96963b8.bb28c","type":"ui_gauge","z":"10f9de34.94b352","name":"Temperature","group":"f536f7a5.2ebe58","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Fh","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":60,"wires":[]},{"id":"7287cadb.117114","type":"ui_gauge","z":"10f9de34.94b352","name":"","group":"b947f15c.31a48","order":0,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":260,"wires":[]},{"id":"c86652c7.48f64","type":"ui_gauge","z":"10f9de34.94b352","name":"Pressure","group":"bc1d9686.869b18","order":0,"width":0,"height":0,"gtype":"donut","title":"Pressure Reading","label":"mm/hg","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":320,"wires":[]},{"id":"4ee94fc8.510ef","type":"ui_text","z":"10f9de34.94b352","group":"e0f78cb2.7355d","order":0,"width":0,"height":0,"name":"Weather condition","label":"Weather","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":380,"wires":[]},{"id":"97cb4eba.37fa1","type":"function","z":"10f9de34.94b352","name":"Weather condition","func":"msg.payload=msg.payload.weather[0].main\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":380,"wires":[["4ee94fc8.510ef","25ec52a3.6fdb3e"]]},{"id":"20e4d5b2.fb10ea","type":"ui_audio","z":"10f9de34.94b352","name":"Audio","group":"e0f78cb2.7355d","voice":"en-US","always":false,"x":1150,"y":440,"wires":[]},{"id":"8876694a.3d8ba8","type":"function","z":"10f9de34.94b352","name":"Audio Help","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":440,"wires":[["25ec52a3.6fdb3e"]]},{"id":"9587e6cb.604bd8","type":"ui_chart","z":"10f9de34.94b352","name":"","group":"f9c61b6a.e24708","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0b63a2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#bc2020","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":500,"wires":[[]]},{"id":"8e5f0ac0.e107e8","type":"function","z":"10f9de34.94b352","name":"Min Temp","func":"msg.payload=msg.payload.main.temp_min\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":500,"wires":[["9587e6cb.604bd8","25ec52a3.6fdb3e"]]},{"id":"2439e0e8.ba57c","type":"function","z":"10f9de34.94b352","name":"max temp","func":"msg.payload=msg.payload.main.temp_max\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":560,"wires":[["b6c62f9a.dfeb6","25ec52a3.6fdb3e"]]},{"id":"b6c62f9a.dfeb6","type":"ui_chart","z":"10f9de34.94b352","name":"","group":"f9c61b6a.e24708","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0b63a2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#bc2020","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":560,"wires":[[]]},{"id":"752fd167.948ec","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"44d260d5.cd124","type":"ui_group","z":"","name":"Soil Moisture Readings","tab":"13e0684e.3a9aa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"45618976.b8da88","type":"ui_group","z":"","name":"Humidity Readings","tab":"13e0684e.3a9aa8","order":3,"disp":true,"width":"6","collapse":false},{"id":"fae7c918.ffd738","type":"ui_group","z":"","name":"Temperature Readings","tab":"13e0684e.3a9aa8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7ac53f35.210f7","type":"ui_group","z":"","name":"Motor On/Off","tab":"9836b5b.a762348","order":1,"disp":true,"width":"6","collapse":false},{"id":"33ffdf4.8972c2","type":"ui_group","z":"","name":"Wind","tab":"933a6b44.365088","order":1,"disp":true,"width":"6","collapse":false},{"id":"f102e023.2af99","type":"ui_group","z":"","name":"cloud","tab":"933a6b44.365088","order":2,"disp":true,"width":"6","collapse":false},{"id":"f536f7a5.2ebe58","type":"ui_group","z":"","name":"Temperature","tab":"933a6b44.365088","order":3,"disp":true,"width":"6","collapse":false},{"id":"b947f15c.31a48","type":"ui_group","z":"","name":"Humidity","tab":"933a6b44.365088","order":4,"disp":true,"width":"6","collapse":false},{"id":"bc1d9686.869b18","type":"ui_group","z":"","name":"Pressure","tab":"933a6b44.365088","order":5,"disp":true,"width":"6","collapse":false},{"id":"e0f78cb2.7355d","type":"ui_group","z":"","name":"Weather Condition","tab":"933a6b44.365088","order":6,"disp":true,"width":"6","collapse":false},{"id":"f9c61b6a.e24708","type":"ui_group","z":"","name":"Min & MaxTemperature","tab":"933a6b44.365088","order":7,"disp":true,"width":"6","collapse":false},{"id":"13e0684e.3a9aa8","type":"ui_tab","z":"","name":"IOT SENSOR DATA","icon":"dashboard","disabled":false,"hidden":false},{"id":"9836b5b.a762348","type":"ui_tab","z":"","name":"MOTOR CONTROL","icon":"dashboard","disabled":false,"hidden":false},{"id":"933a6b44.365088","type":"ui_tab","z":"","name":"Open Weather Data","icon":"Data","disabled":false,"hidden":false}]